@model List<ResultFooterAddressDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Footer Addreses Page</h4>
                        <p class="card-subtitle mb-4">
                            You can customize the footer addreses informations below. Fill all the blanks. Also, you can add the map information from Google Maps.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Description</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/AdminFooterAddress/RemoveFooterAddress/@item.FooterAddressID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminFooterAddress/UpdateFooterAddress/@item.FooterAddressID" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminFooterAddress/CreateFooterAddress/" class="btn btn-outline-primary">Add new Footer Address</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



