@model CreateReservationDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-md-12 block-9 mb-md-5">
    <form class="bg-light p-5 contact-form" method="post">
        <h3 class="alert alert-success">Car Reservation Form</h3>
        <div class="form-group">
            <input type="hidden" asp-for="CarID" value="@ViewBag.v3">
        </div>
        <div class="form-group">
            <label>Name :</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
            <label>Surname :</label>
            <input type="text" asp-for="Surname" class="form-control" placeholder="Your Surname">
        </div>
        <div class="form-group">
            <label>Email :</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Your Email">
        </div>
        <div class="form-group">
            <label>Phone :</label>
            <input type="text" asp-for="Phone" class="form-control" placeholder="Your Phone Number">
        </div>
        <div class="form-group">
            <label>Pick-Up Location :</label>
            @Html.DropDownListFor(element => element.PickUpLocationID, (List<SelectListItem>)ViewBag.ddvalues, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Drop-Off Location :</label>
            @Html.DropDownListFor(element => element.DropOffLocationID, (List<SelectListItem>)ViewBag.ddvalues, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Age :</label>
            <input type="number" asp-for="Age" class="form-control" placeholder="Your Age">
        </div>
        <div class="form-group">
            <label>Driver's Licence Year :</label>
            <input type="number" asp-for="DriverLicenceYear" class="form-control" placeholder="Year">
        </div>
        <div class="form-group">
            <label>Message :</label>
            <textarea cols="30" rows="7" asp-for="Description" class="form-control" placeholder="If you want to add something you can write here."></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Complete the Reservation!" class="btn btn-primary py-3 px-5">
        </div>
    </form>

</div>