@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")

        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardChartTwoComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChartOneComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChartThreeComponentPartial")
        </div>
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
        </div>
    </div>
</div>