@model List<ResultCarPricingListWithModelDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="car-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th class="bg-primary heading">Per Day Pricing</th>
								<th class="bg-dark heading">Per Week Pricing</th>
								<th class="bg-black heading">Per Month Pricing</th>
							</tr>
						</thead>
						@foreach(var item in Model){
						<tbody>

							<tr class="">
								<td class="car-image"><div class="img" style="background-image:url(/carbook-master/images/car-1.jpg);"></div></td>
								<td class="product-name">
									<h3>@item.Model</h3>
									<p class="mb-0 rated">
										<span>Point:</span>
										<span class="ion-ios-star"></span>
										<span class="ion-ios-star"></span>
										<span class="ion-ios-star"></span>
										<span class="ion-ios-star"></span>
										<span class="ion-ios-star"></span>
									</p>
								</td>

								<td class="price">
									<p class="btn-custom"><a href="#">Rent a car</a></p>
									<div class="price-rate">
										<h3>
											<span class="num"><small class="currency">₺</small> @item.DailyAmount</span>
											<span class="per">/Per Day</span>
										</h3>
									</div>
								</td>

								<td class="price">
									<p class="btn-custom"><a href="#">Rent a car</a></p>
									<div class="price-rate">
										<h3>
											<span class="num"><small class="currency">₺</small> @item.WeeklyAmount</span>
											<span class="per">/Per Week</span>
										</h3>
									</div>
								</td>

								<td class="price">
									<p class="btn-custom"><a href="#">Rent a car</a></p>
									<div class="price-rate">
										<h3>
											<span class="num"><small class="currency">₺</small> @item.MonthlyAmount</span>
											<span class="per">/Per Month</span>
										</h3>
									</div>
								</td>
							</tr>

						</tbody>
						}
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

