@model CreatePricingDto

@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Add New Pricing Type</h4>
                        <p class="card-subtitle mb-4">Enter the Pricing information that you want to add in the box below.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputPricingName">Pricing Name</label>
                                <input type="text" class="form-control" id="exampleInputPricingName" asp-for="Name" placeholder="Pricing name... (Daily, weekly, monthly etc.)">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Pricing Type</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

