@model List<ResultPricingDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}



<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Pricing Page</h4>
                        <p class="card-subtitle mb-4">
                            On this page, you can add, update, or delete the car pricing that you want. Car pricings are daily, weekly, and monthly.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Period Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                @if (Model.Count == 0)
                                {
                                    <tbody>
                                        <tr>
                                            <td><h4>There is nothing to show here yet!</h4></td>
                                        </tr>
                                    </tbody>
                                }
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/AdminPricing/RemovePricing/@item.PricingID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminPricing/UpdatePricing/@item.PricingID" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminPricing/CreatePricing/" class="btn btn-outline-primary">Add new Pricing Type</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>