@model CreateLocationDto

@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Add New Location</h4>
                        <p class="card-subtitle mb-4">Enter the Location information that you want to add in the box below. It would be best if you filled in all the blanks.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputLocationName">Location Name</label>
                                <input type="text" class="form-control" id="exampleInputLocationName" asp-for="Name" placeholder="Location name...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Location Information</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>