@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Brands List</h4>
                        <p class="card-subtitle mb-4">
                            You can add, delete, and update the new car brands from this page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Brand Vehicles</th>
                                    </tr>
                                </thead>
                                @if (Model.Count == 0)
                                {
                                    <tbody>
                                        <tr>
                                            <td><h4>Herhangi bir özellik bulunmuyor</h4></td>
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Name</td>
                                                <td><a href="/AdminBrand/RemoveBrand/@item.BrandID" class="btn btn-outline-danger">Delete</a></td>
                                                <td><a href="/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-success">Update</a></td>
                                                <td><a href="/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-dark">Brand Vehicles</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                            <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Add new Brand</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



