@model CreateBannerDto

@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Add New Banner</h4>
                        <p class="card-subtitle mb-4">Enter the banner information that you want to add in the box below. After data entry, you can complete your process by clicking the save button. After the data entry, check the banner count! The banner count shouldn't be greater than 1! Otherwise, the banner information will have been broken. </p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBannerTitle">Banner Title</label>
                                <input type="text" class="form-control" id="exampleInputBannerTitle" asp-for="Title" placeholder="Banner title...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBannerDescription">Banner Description</label>
                                <input type="text" class="form-control" id="exampleInputBannerDescription" asp-for="Description" placeholder="Banner description...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBannerVideoDescription">Banner Video Description</label>
                                <input type="text" class="form-control" id="exampleInputBannerVideoDescription" asp-for="VideoDescription" placeholder="Banner videoDescription...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBannerVideoUrl">Banner Video Url</label>
                                <input type="text" class="form-control" id="exampleInputBannerVideoUrl" asp-for="VideoUrl" placeholder="Banner video Youtube Embed link...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Banner Information</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







