<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="car-details">
            <div class="img rounded" style="background-image: url(images/bg_1.jpg);"></div>
            <div class="text text-center">
                <span class="subheading">Cheverolet</span>
                <h2>Mercedes Grand Sedan</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
            <div class="media-body py-md-4">
                <div class="d-flex mb-3 align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                    <div class="text">
                        <h3 class="heading mb-0 pl-3">
                            Mileage
                            <span>40,000</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
            <div class="media-body py-md-4">
                <div class="d-flex mb-3 align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                    <div class="text">
                        <h3 class="heading mb-0 pl-3">
                            Transmission
                            <span>Manual</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
            <div class="media-body py-md-4">
                <div class="d-flex mb-3 align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                    <div class="text">
                        <h3 class="heading mb-0 pl-3">
                            Seats
                            <span>5 Adults</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
            <div class="media-body py-md-4">
                <div class="d-flex mb-3 align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
                    <div class="text">
                        <h3 class="heading mb-0 pl-3">
                            Luggage
                            <span>4 Bags</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
            <div class="media-body py-md-4">
                <div class="d-flex mb-3 align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                    <div class="text">
                        <h3 class="heading mb-0 pl-3">
                            Fuel
                            <span>Petrol</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>